.sign-in-up.login p {
    padding-top: 10px;
}

.login .forget-pass {
    font-size: 16px;
    color: #e23e38;
    font-weight: 400;
    border: 0;
    background-color: transparent;
    margin-top: 10px;
}