.banner {
    background: url(../../../images/banner.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    padding: 150px 0;
}

.banner h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    color: #fff;
}

.banner h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    color: #e23e38;
    text-transform: uppercase;
}

.banner p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ddd;
    padding: 0 70px 20px 70px;
}

.banner .about-btn {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    background-color: #e23e38;
    padding: 0 30px;
    display: inline-block;
    border: 0;
    outline: none;
}