.about {
    padding: 80px 0;
}

.about h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    color: #222;
}

.about h2 span {
    font-family: 'Oswald', sans-serif;
    color: #e23e38;
}

.about p {
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

.about h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    color: #222;
}