.blogs {
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: calc(100vh - 123px);
}

.blogs .single-blog {
    padding-bottom: 30px;
}

.blogs h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #e23e38;
}

.blogs p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    padding-bottom: 10px;
}